<%# ページ新規作成はroutes.rbを参照 %>

<%# provide=提供,:title(シンボル)に"Home"の値　%>

<% provide(:title, "Home") %>

<%# <!DOCTYPE html>などはapp.html.erbに記述のため書かない %>
<!-- yield(:title)= Home, | Ruby on Rails Tutorial Sample App = app.html.erbを参照　-->

<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>